<form id="new_item" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
  <input name="x:custom_field_1" type="hidden" value="custom_field_1_value">
  <input name="token" type="hidden" value="<%= @upload_token %>">
  <input name="file" type="file" />
  <input type="submit" />
</form>
<div id ="items-upload-response">
  <pre id="response">

  </pre>
</div>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
