<div class="wrapper">
  <h1>Qiniu direct upload example</h1>
  <div class="dropzone" id="dropzone">
    <%= qiniu_uploader_form callback_url: items_path,
      bucket:        'your-bucket-name',
      id:            "photograph-uploader",
      save_key:       "uploads/items/$(year)/$(mon)/$(day)/$(etag)/$(fname)",
      custom_fields: {aaa:1,bbb:2},
      progress_bar_id: 'progress-bar',
      drop_paste_zone_id: 'dropzone' do %>

      <div class="bars" id="progress-bar">
        <%= file_field_tag :file, multiple: true, accept: "image/gif, image/jpeg, image/png" %> You can also drag and drop files here
      </div>
    <% end %>
  </div>
</div>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
