<form id="fileupload" method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
  <input name="x:custom_field_1" type="hidden" value="custom_field_1_value">
  <input name="token" type="hidden" value="<%= @upload_token %>">
  <input name="file" type="file" />
  <input type="submit" />
</form>
<div id ="items-upload-response">
  <pre id="response">

  </pre>
</div>
<script type="text/javascript">
  // 生成一个随机字符串
function generate_random_string(length) {
  var chars = '0123456789abcdefghiklmnopqrstuvwxyz';
  var sRnd = '';
  for (var i=0; i<length; i++){
    var randomPoz = Math.floor(Math.random() * chars.length);
    sRnd += chars.substring(randomPoz,randomPoz+1);
  }
  return sRnd;
}
$(function () {
  // Initialize the jQuery File Upload widget:
  $('#fileupload').fileupload({
    multipart: true,
    url: 'http:://up.qiniu.com/',
    formData: function(form){
      var data = form.serializeArray();
      var fh = this.files[0];
      var fileUniqKey = '<%= "photographs/#{SecureRandom.hex}" %>' + ':' + generate_random_string(20) + ":"+ fh.name ;
      var keyParams = 'key='+fileUniqKey
      data.push({name: 'key', value: keyParams});

      return data;
    }
  });
});
</script>
