<form method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
  <input name="key" type="hidden" value='<%= "photographs/#{SecureRandom.hex}" %>'>
  <input name="x:custom_field_1" type="hidden" value="custom_field_1_value">
  <input name="token" type="hidden" value="<%= @upload_token %>">
  <input name="file" type="file" />
  <input type="submit" />
</form>
<div id ="items-upload-response">
  <pre id="response">

  </pre>
</div>
