// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
  margin-left: 30px;
  .dropzone{
    border: solid 1px #666;
    width: 600px;
    padding: 30px 10px 30px 10px;
  }
}
